
<!-- About Section -->
<section class="about-section">
    <div class="container">
        <h2>About this website</h2>
       <p>this website was made to simulate a web application where registered users can buy tickets
        of various events. if you sign up to test this web application, your data will be lost when the page reloads, as 
        this application doesn't work with a database. Thus avoid refreshing the page after  <a href="/sign-up-step1">sign up </a>.
        feel free to sign in with e-mail <span>temliz&#64;mail.com</span> and password <span>temliz. </span> 
        <a href="/sign-in">sign-in</a>
       </p>
    </div>
</section>

<!-- Mission Section -->
<section class="mission-section">
    <div class="container">
        <h2>my Motiv</h2>
        <p>just trying out web development to offer digital solutions for persons who wish to 
            to securely promote their events and let all the guest registration phase go on smoothly 
            online. visit my other website at <span>temliz10.web.app</span>
            Here is my indeed <a href="https://profile.indeed.com/p/ulrichtresorb-vr99kpm">portofolio</a> aswell.
        </p>
    </div>
</section>

