.posts-section {
    margin-top: 20px;
  }
  
  .posts-section h2 {
    color: #4B5320;
    margin-bottom: 20px;
  }
  
  .post {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  }
  
  .post p {
    margin: 0;
  }