<div class="container">
    <div class="profile-page">
        <div class="profile-header">
          <div class="profile-picture">
            <img src="https://cdn-icons-png.flaticon.com/128/13878/13878098.png" alt="Profile Picture">
          </div>
          <div class="profile-info">
            <h1>{{authService.getCurrentUser().name}}</h1>
            <p> {{authService.getCurrentUser().email}}</p>
          </div> 
        </div>
        <div class="scroll-container">
            <li class="scrollam"><a routerLink="event">view Events</a></li>
            <li class="scrollam"><a routerLink="orders">Orders</a></li>
            <li class="scrollam"><a routerLink="account-info">Account</a></li>
            <li class="scrollam"><a routerLink="basket">Basket ({{authService.basket.length}})</a></li> 
        </div>
      <section id="baskorder" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
          <router-outlet #o="outlet"></router-outlet>
      </section>      
      <br>
      <br>
      <br>
      <br>
      <br>

         
<!--
<div class="account-top">
    <img class="accountLogo" src="https://cdn-icons-png.flaticon.com/128/13878/13878098.png" alt="">
</div>
  <div class="acct">
    <ul class="items-attributes">
        <li  class="it-attributes"><i></i>Name <span class="spa"> {{authService.getCurrentUser()}}</span></li>
        <li   class="it-attributes"><i></i>Email <span class="spa"> {{authService.getCurrentUser().email}}</span></li>
        <li class="it-attributes"><i></i>Tel <span class="spa"> {{authService.getCurrentUser().contact}}</span></li>
        <li  class="it-attributes"><i></i>address <span class="spa"> {{authService.getCurrentUser().adress}}</span></li>
    </ul>
</div>-->
  
