
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Strait&display=swap');

.container {
    background: white;
    margin: 3em auto 2.5em auto;
    padding: 1em;
    width: 100%;
    font-family: 'Strait';
  }

  .profile-page {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .profile-picture img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  .profile-info {
    margin-left: 20px;
  }
  
  .profile-info h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .profile-info p {
    margin: 5px 0 0;
    color: #666;
  }
  
  .posts-section {
    margin-top: 20px;
  }
  
  .posts-section h2 {
    color: #4B5320;
    margin-bottom: 20px;
  }
  
  .post {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  }
  
  .post p {
    margin: 0;
  }
  .updateCheck {
    font-weight: 600;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 .1rem .3rem 0 black ;
  width: 4.7em;
  margin:1.5em auto auto 2.5em ;
  background-color: #dc143cd9;
  border: none;
  height: 2em;
  transition: background-color 0.5s ease-in-out;
  }
  .updateCheck:hover {
  background-color: #95102b;
  color: whitesmoke;
  
  } 

  .corb{
    width: 2em;
  }

  
.scroll-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px;
    gap: 20px; /* Space between cards */
    background-color: #fff;
}

.scrollam{
    cursor: pointer;
    flex: 0 0 auto; /* Prevent cards from shrinking */
   list-style-type: none;
   color: #777777;
   border: 1px solid gainsboro;
   padding: 5px;
}
.scrollam:hover{
    background-color: whitesmoke;
}
.scrollam a{
    color: #777777;
    text-decoration: none;   
}

.list {
    list-style-type: none;
    margin-top: 1em; 
}

.list a{
    color: #444444;
    text-decoration: none;   
}

.list sup{
    font-size: 1em;
}
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar (for horizontal scroll) */
}

::-webkit-scrollbar-track {
    background: white; /* Background of the scrollbar track, matching the page background */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}