.posts-section {
    margin-top: 20px;
  }
  
  .posts-section h2 {
    color: #4B5320;
    margin-bottom: 20px;
  }
  
  .post {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  }
  
  .post p {
    margin: 0;
  }

  .modal-content{
    padding: 20px;
  }

  .pay{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid gray;
    color: blue;
  }

  .payment-container {
    background-color: #fff;
    text-align: center;
}

.payment-container h3 {
  color: #555555;
    margin-top: 0;
}

.payment-methods {
  font-family: 'Poppins';
    margin: 20px 0;
}

.payment-methods label {
    display: block;
}

.payment-methods input label {
  margin-top: 1em;
     width: 16.25em;
     height: 2.75em;
     background-color: white;
     border: 1px solid gainsboro;
     font-family: 'Trebuchet MS';
     font-size: 1.05em;
     text-align: center; 
     margin-left: 2.5%;
}

.payment-methods img{
  cursor: pointer;
  width: 4em;
}

.basket-total {
  color: #555555;
    margin-top: 20px;
    font-size: 18px;
   font-family: 'Trebuchet MS';
}

.closeDelete{
  float: right;
 font-size: 1.8em;
  border: none;
  background-color: #4b5320cd ;
  margin: 0 .5em .5em auto;
  cursor: pointer;
  }
 