<div class="posts-section">
    <h2>Selected events</h2>
    <div *ngIf="authService.getCurrentUserCorb()[0]==null">
     <p>No events selected</p>
    </div>
    <div *ngFor="let items of authService.getCurrentUserCorb()" class="post">
      <h3> {{items.event.eventCategory}}</h3>
      <p>{{items.event.eventLocation}}</p>
      <p>{{items.event.date}}</p>
      <p *ngIf="items.prices[0]>0">Normal ticket {{items.prices[0]}}</p>
      <p *ngIf="items.prices[1]>0">All area ticket {{items.prices[1]}}</p>
      <p *ngIf="items.prices[2]>0">VIP ticket {{items.prices[2]}}</p>
    </div>
    <br>
    <div>
    <p *ngIf="this.getSum()>0"><a class="pay" (click)="onOpenModal('payment')">continue to pay {{getSum()}}$</a><p>
    </div>
</div>
