
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="app.component.css">
  
  <script src="menu.js"></script>
  <script src="game.js"></script>
  <body id="markSec">
  <div class="navbar" >
            <h2  class="navbar-logo"  id="logo">Tem<span>liz</span></h2> 
           <img  class="menu-btn" id="menuCta"   src="https://cdn-icons-png.flaticon.com/128/8212/8212733.png" alt="menu">
           <nav >
               <img  class="exit-btn" id="exitCta" src="https://cdn-icons-png.flaticon.com/128/1828/1828778.png"    alt="exit menu">
            <ul class="navbar-menu">
            <li *ngIf="authentificationService.getCurrentUser().loggedIn==false"><a routerLink="/sign-in" routerLinkActive="active">Sign In</a></li>
            <li *ngIf="authentificationService.getCurrentUser().loggedIn==false"><a routerLink="/sign-up-step1" routerLinkActive="active">Sign Up</a></li>
            <li *ngIf="authentificationService.getCurrentUser().loggedIn==true"><a routerLink="/profile" routerLinkActive="active">Events</a></li>
            <li *ngIf="authentificationService.getCurrentUser().loggedIn==true"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
            <li *ngIf="authentificationService.getCurrentUser().loggedIn==true"><a (click)="onOpenModal('out')">Sign Out</a></li>
           </ul>
           </nav>
    </div>
     <br id="aboutApp">
    <section class="marketing" id="main-container">
      <!--<div class="logoss">
        <img class="clothLogo" src="https://cdn-icons-png.flaticon.com/128/1048/1048334.png" alt="">
        <img class="carLogo"  src="https://cdn-icons-png.flaticon.com/128/1287/1287151.png" alt="">
        <img class="phoneSell" src="https://cdn-icons-png.flaticon.com/128/4490/4490381.png" alt="">
        <img class="houseLogo" src="https://cdn-icons-png.flaticon.com/128/2827/2827410.png" alt="">
        <img class="laptopSell" src="https://cdn-icons-png.flaticon.com/128/3322/3322056.png" alt="">
       </div>
      -->
   <!-- <P> Bienvenue sur le site de Sozocam.
       nous sommes actuellement <span> <b>en Solde!!!</b> </span>
        nous somme situe enface du dispensaire Mvogada cliquez sur
        <a style="color: orangered; "  class="findTag"  (click)="onOpenModal('findLoc')">google<span style="color: green;">map</span> </a>
        <img class="location" src="https://cdn-icons-png.flaticon.com/128/854/854878.png" alt="">
        pour la localisation. 
     nous somme une Quincaillerie avec plus de 20 ans d'experience.
     nous vendons des motos Yamaha, tronconeuse Stihl, tondeuses a gazon,
      marteau piqueur, machine a laver, groupe electrogene et
     Plus encore nous avons tout genre de pieces detacher pour moto et materiel de construction.
       appeler nous pour plus d'information concernant le produit que vous aimeriez acheter,
       a un prix negociable au numero 
       camerounais MTN suivant <span>+237 677649958</span> nous vous remercions d'avance pour votre confiance
    </P>
     <section id="main-container">
      <p>voici juste un apercue des different produit disponible dans notre magasin.
        Appeler nous et discutons de votre prix ensemble.</p>
     </section>
    <div id="carouselExampleControls" data-bs-ride="carousel"  class="carousel slide" >
      <div class="carousel-inner" style=" height: 24em;" role="listbox"  >
        <div class="carousel-item active">
          <div class="head"><p style="color:white">2,500000 - 25%</p></div>
          <img class="item-rounded-image"  src="../images/3.jpg" alt="moto">
        </div>
        <div  class="carousel-item" >
          <div class="head"><p style="color:white;">2,500000 - 25%</p></div>
          <img class="item-rounded-image"  src="../images/2.jpg" alt="moto">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;">- 30% sur tout</p></div>
          <img class="item-rounded-image" src="../images/6.jpg" alt="autre">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;"> 390,000 - 30%</p></div>
          <img class="item-rounded-image" src="../images/4.jpg" alt="tondeuse">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;"> 410,000 - 30%</p></div>
          <img class="item-rounded-image" src="../images/1.jpg" alt="machine a laver">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;">- 25% sur tout</p></div>
          <img class="item-rounded-image" src="../images/7.jpg" alt="autre">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;">- 25% sur tout</p></div>
          <img class="item-rounded-image" src="../images/5.jpg" alt="troconeuese et autre">
        </div>
      </div>
      <a style="background-color: black; 
       height: 3em; margin-top: auto;
       width: 3em; margin-bottom: auto; margin-left: .3em;
       border-radius: 100%;" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a style="background-color: black; 
      height: 3em; margin-top: auto;
      width: 3em; margin-bottom: auto; margin-right: .3em;  border-radius: 100%;" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
-->
<br>
<div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>
<br>
<br>
<br>
</section>

<!--confirm log out-->
<div  class="modal fade" id="out" tabindex="-1" role="dialog" aria-labelledby="updateProduct" aria-hidden="true">
  <div  class="modal-dialog" role="document" style="background-color: white; margin-top: 3em;margin-left: .5em; height: 11em;">
    <div class="modal-content" >
      <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 style="font-family: Trebuchet MS;">confirm sign out?</h4>
      <div class="postBtn">
        <button class="submit" type="submit" (click)="signOut()">Yes</button>
        <button class="submit" (click)="back()">back</button>
      </div>
    </div>
    </div>
</div>


<!--footer-->
  <div class="bott">
    <footer id="foot" class="footer-section">
     <div class="cta-text">
       <h6 style="color: rgb(196, 196, 196);">Location   <span>Germany NRW </span></h6>
     </div>
     <div class="cta-text">
         <h6 style="color: rgb(196, 196, 196);">Email 
           <span><a style="text-decoration: none; color:rgba(210, 105, 30, 0.859);"
             href="mailto:trezorzote@gmail.com">trezorzote&#64;gmail.com</a></span></h6>
     </div>
     
   <div class="copyright-text">
     <p style="text-align: center; margin-bottom: 0; "> Temliz Enterprise &copy; 2023, all rights reserved</p>
   </div>
   
   </footer>
   </div>
