
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="app.component.css">
  l
  <script src="menu.js"></script>
  <body id="markSec">
  <div class="navbar" >
            <h2  class="navbar-logo"  id="logo">Sozo<span>cam</span></h2> 
           <img  class="menu-btn" id="menuCta"   src="https://cdn-icons-png.flaticon.com/128/4856/4856386.png" alt="menu">
           <nav >
               <img  class="exit-btn" id="exitCta" src="https://cdn-icons-png.flaticon.com/128/1828/1828778.png"    alt="exit menu">
           <ul class="navbar-menu">
            <li><a href="#aboutApp">About</a></li>
            <li><a href="#foot">Contact</a></li>
           </ul>
           </nav>
    </div>
     <br id="aboutApp">
     <br>
     <br>
    <section class="marketing">
      <div class="logoss">
     <img class="clothLogo" src="https://cdn-icons-png.flaticon.com/128/1048/1048334.png" alt="">
     <img class="carLogo"  src="https://cdn-icons-png.flaticon.com/128/1287/1287151.png" alt="">
     <img class="phoneSell" src="https://cdn-icons-png.flaticon.com/128/4490/4490381.png" alt="">
     <img class="houseLogo" src="https://cdn-icons-png.flaticon.com/128/2827/2827410.png" alt="">
     <img class="laptopSell" src="https://cdn-icons-png.flaticon.com/128/3322/3322056.png" alt="">
     
    </div>
   
    <P> Bienvenue sur le site de Sozocam.
       nous sommes actuellement <span> <b>en Solde!!!</b> </span>
        nous somme situe enface du dispensaire Mvogada cliquez sur
        <a style="color: orangered; "  class="findTag"  (click)="onOpenModal('findLoc')">google<span style="color: green;">map</span> </a>
        <img class="location" src="https://cdn-icons-png.flaticon.com/128/854/854878.png" alt="">
        pour la localisation. 
     nous somme une Quincaillerie avec plus de 20 ans d'experience.
     nous vendons des motos Yamaha, tronconeuse Stihl, tondeuses a gazon,
      marteau piqueur, machine a laver, groupe electrogene et
     Plus encore nous avons tout genre de pieces detacher pour moto et materiel de construction.
       appeler nous pour plus d'information concernant le produit que vous aimeriez acheter,
       a un prix negociable au numero 
       camerounais MTN suivant <span>+237 677649958</span> nous vous remercions d'avance pour votre confiance
    </P>
     <section id="main-container">
      <p>voici juste un apercue des different produit disponible dans notre magasin.
        Appeler nous et discutons de votre prix ensemble.</p>
     </section>
    <div id="carouselExampleControls" data-bs-ride="carousel"  class="carousel slide" >
      <div class="carousel-inner" style=" height: 24em;" role="listbox"  >
        <div class="carousel-item active">
          <div class="head"><p style="color:white">2,500000 - 25%</p></div>
          <img class="item-rounded-image"  src="../images/3.jpg" alt="moto">
        </div>
        <div  class="carousel-item" >
          <div class="head"><p style="color:white;">2,500000 - 25%</p></div>
          <img class="item-rounded-image"  src="../images/2.jpg" alt="moto">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;">- 30% sur tout</p></div>
          <img class="item-rounded-image" src="../images/6.jpg" alt="autre">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;"> 390,000 - 30%</p></div>
          <img class="item-rounded-image" src="../images/4.jpg" alt="tondeuse">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;"> 410,000 - 30%</p></div>
          <img class="item-rounded-image" src="../images/1.jpg" alt="machine a laver">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;">- 25% sur tout</p></div>
          <img class="item-rounded-image" src="../images/7.jpg" alt="autre">
        </div>
        <div class="carousel-item">
          <div class="head"><p style="color:white;">- 25% sur tout</p></div>
          <img class="item-rounded-image" src="../images/5.jpg" alt="troconeuese et autre">
        </div>
      </div>
      <a style="background-color: black; 
       height: 3em; margin-top: auto;
       width: 3em; margin-bottom: auto; margin-left: .3em;
       border-radius: 100%;" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a style="background-color: black; 
      height: 3em; margin-top: auto;
      width: 3em; margin-bottom: auto; margin-right: .3em;  border-radius: 100%;" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  <br>
<br>

     <!--find location-->
<div  class="modal fade" id="locationForm" tabindex="-1" role="dialog" aria-labelledby="updateProduct" aria-hidden="true">
  <div  class="modal-dialog" role="document" style="background-color: white; margin-top: 3em;margin-left: .5em; height: 11em;">
    <div class="modal-content" >
      <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
<section class="contact-right" id="findLocation">
  <h3>Find <span>Location</span> : </h3> <img class="locationLogo" src="https://cdn-icons-png.flaticon.com/128/854/854878.png" alt="">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.
        750358337456!2d11.527202299999999!3d3.8636538!2m3!1f0!2f0!3f0!3m2!1i1024!2
          i768!4f13.1!3m3!1m2!1s0x108bc57e6697e331%3A0xe7110a385d74f3b6!2sH%C3%B4pital
           %20De%20District%20De%20Mvog%20Ada!5e0!3m2!1sen!2sde!4v1672405386022!5m2!1sen
             !2sde" width="600" height="450" style="border:0;" allowfullscreen=""
         loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
</div>
</div>
</div>

    </section>
<br>
<br>

<!--footer-->
<footer id="foot" class="footer-section">
       <div class="cta-text">
         <h6 style="color: rgb(196, 196, 196);">Lieu   <span> face Dispensaire Mvogada</span></h6>
       </div>
       <div class="cta-text">
         <h6 style="color:rgb(196, 196, 196);">Tel  <span>+237 677649958</span></h6>
           
       </div>
       <div class="cta-text">
           <h6 style="color: rgb(196, 196, 196);">Email 
             <span><a style="text-decoration: none; color:rgba(129, 129, 255, 0.799);"
               href="mailto:trezorzote@gmail.com">trezorzote@gmail.com</a></span></h6>
       </div>
       <div class="cta-text">
        <h6 style="color: rgb(196, 196, 196);">Icons
          <span><a style="text-decoration: none; color:rgba(129, 129, 255, 0.799);"
            href="https://www.freepik.com/?_gl=1*ss5kvu*fp_ga*MTQ4MTU4ODA4Ni4xNjcwNTQ1MDY4*fp_ga_1ZY8468CQB*MTY3MjQyNjM2OS43LjEuMTY3MjQyNzg1Ni4zOC4wLjA.*test_ga*MTQ4MTU4ODA4Ni4xNjcwNTQ1MDY4*test_ga_523JXC6VL7*MTY3MjQyNjM2OS43LjEuMTY3MjQyNzg1Ni4zOC4wLjA.">Freepik</a></span></h6>
    </div>
       
   <div class="copyright-text">
       <p style="text-align: center; margin-bottom: 0; "> Sozocam sarl Copyright &copy; 2022, tout droit reserver</p>
   </div>

  </footer>
  </body>