<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="event.component.css">

  <div class="posts-section" id="main-container">
<form>
  <div class="center">
  <input class="regionSearch" type="search" #region="ngModel" ngModel name="region" required   placeholder="region of preference...">
 <button class="regionFilter" (click)="byRegion(region.value)">ok</button>
 </div>

</form>
<form>
<div class="center">
  <input type="search" (ngModelChange)="searchEvent(key.value)" #key="ngModel" ngModel  name="key" id="searchName" class="nameSearch" placeholder="enter Category Concert..."><img class="searchIcon" src="https://cdn-icons-png.flaticon.com/128/5423/5423194.png" alt="">
</div>
</form>

<br>

<div *ngIf="eventsArray?.length==0" class="noItems">
  <div class="alerter" role="alert">
    <img src="https://cdn-icons-png.flaticon.com/128/14755/14755007.png" alt="">
    <h4>Event not available</h4>
</div>
</div>

<div>
<div *ngFor="let i of eventsArray" class="post">
    <h2>{{i.eventCategory}}</h2>
    <p> {{i.eventLocation}}   <a (click)="onOpenModalEdit(i,'moreInfo')"class="delete-button" 
        id="deleteItem" data-placement="top" role="dialog" data-original-title="Delete" ><img  class="deleteItemLogo"
        id="deleteImage" src="https://cdn-icons-png.flaticon.com/128/6583/6583141.png" alt=""></a>  
   </p>

</div>
</div>


<!--moreInfo-->
<div  class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="updateProduct" aria-hidden="true">
<div  class="modal-dialog" role="document" style="background-color: white; margin-top: 3em;margin-left: .5em; height: 11em;">
<div class="modal-content" >
  <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
    <span aria-hidden="true">&times;</span>
  </button>
    <div class="item-container1">
      <div class="item-row">
        <div class="item-column1">
          <div class="item-card-part1">
            <div id="carouselExampleSlidesOnly" data-bs-ride="carousel"  class="carousel slide" >
            <div class="carousel-inner" style="background-color: whitesmoke;  height: 16em;" role="listbox" >
              <div class="carousel-item active">
                <img class="item-rounded-image"  src="https://img.freepik.com/free-psd/holographic-music-band-banner-template_23-2148742145.jpg?size=626&ext=jpg&uid=R89165474&ga=GA1.1.761342888.1672160419&semt=ais" alt="">
              </div>
              <div  class="carousel-item" >
                <img class="item-rounded-image"  src="https://media.istockphoto.com/id/1127652268/de/vektor/night-club-jugendliche-haben-spa%C3%9F-sommerabend.jpg?s=612x612&w=0&k=20&c=AKfUCDI7uT2YNXh9OzynjM4glAplqtrfhG8Tb2J5gxY=" alt="">
              </div>
              <div *ngIf="chosenEvent.contact!==null"  class="carousel-item">
                <img class="item-rounded-image" src="https://img.freepik.com/free-vector/happy-people-having-fun-rock-concert-flat-illustration_74855-5266.jpg?size=626&ext=jpg&ga=GA1.1.761342888.1672160419&semt=sph" alt="">
              </div>
            </div>
          </div>
            <ul class="items-attributes">
              <li class="it-attributes"><i></i>Category <span class="spa">- {{chosenEvent?.eventCategory}}</span></li>
              <li class="it-attributes"><i></i>Description <span class="spa">- {{chosenEvent?.eventDescription}}</span></li>
              <li class="it-attributes"><i></i>location <span class="spa">- {{chosenEvent?.eventLocation}}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="select-container">
    <form>
        <div>
          <label for="normal">normal ticket - {{chosenEvent?.prices[0]}}$</label>
          <input type="number" #normal="ngModel" ngModel name="normal"  placeholder="1"   required>
        </div>
        <div>
          <label for="allaccess">all access ticket - {{chosenEvent?.prices[1]}}$</label>
          <input type="number" #allaccess="ngModel" ngModel name="allaccess"  placeholder="1"   required>
        </div>
        <div>
            <label for="vip">VIP - {{chosenEvent?.prices[2]}}$</label>
            <input type="number" #vip="ngModel" ngModel name="vip" placeholder="1"  required>
        </div>
        <br>
        <div class="postBtn">
        <button class="submit" type="submit" (click)="select(chosenEvent,vip.value,allaccess.value,normal.value)">next</button>
      </div>
      </form>
    </div>
</div>
</div>
</div>

</div>


