
<div class="posts-section">
    <h2>Account</h2>
    <div class="post">
        <ul class="display">
      <li><span>Name</span> {{authServ.getCurrentUser().name}}</li>
      <li><span>E-mail</span> {{authServ.getCurrentUser().email}}</li>
      <li> <span>Contact</span> {{authServ.getCurrentUser().contact}}</li>
      <li> <span>Address</span> {{authServ.getCurrentUser().adress}}</li>
      <li> <span>Password</span> *******</li>
    </ul>
    </div>
    <br>
   <button class="submit" (click)="deleteAccount()" disabled>Delete</button>
   <button class="submit" (click)="signOut()">Sign out</button>
    <button class="submit" (click)="onOpenModal('edit')">edit</button>
  </div>


