@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Strait&display=swap');


.posts-section {
    margin-top: 40px;
    font-family: 'Strait';
  }
  
  .posts-section h2 {
    color:#4B5320;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .post {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #AAA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  }
  
  .post p {
    margin: 0;
  }

  .display{
  list-style-type: none;
  padding: 10px;
  margin-bottom: .5em;
  }
  .display li{
    margin:.5em auto ;
    }
.display span{
    color: #4B5320;
    margin-right: .5em;
}

  /* focus when user types into the input field the borders remain thesame not black using outline none*/
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #ccc; /* Same light gray border on focus */
  outline: none; /* Remove default focus outline */
}

#signout{
    border: none;
  border-radius: 8px;
  width: 22em;
  height: 22em;
}

.postBtn{
    align-items: center;
    justify-content: center;
    text-align: center;
    }
  
    .submit {
        color: #444;
        font-family: 'Strait';
        cursor: pointer;
        border: 1px solid #888;
        width: 4.5em;
        margin:1.5em auto auto 1em ;
        background-color:white;
        height: 2em;
        transition: background-color 0.5s ease-in-out;
        }
      
          
        .submit:hover {
        background-color: whitesmoke;
        }
        
