
<div class="posts-section">
    <h2>Account info</h2>
    <div class="post">
        <ul class="display">
      <li><span>Name</span> {{authServ.getCurrentUser().name}}</li>
      <li><span>E-mail</span> {{authServ.getCurrentUser().email}}</li>
      <li> <span>Contact</span> {{authServ.getCurrentUser().contact}}</li>
      <li> <span>Address</span> {{authServ.getCurrentUser().adress}}</li>
      <li> <span>Password</span> *******</li>
    </ul>
    </div>
    <br>
   <button class="submit" (click)="deleteAccount()">Delete</button>
   <button class="submit" (click)="onOpenModal('out')">Sign out</button>
    <button class="submit" (click)="onOpenModal('edit')">edit</button>
  </div>

<!-- edit profile-->
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
     <div class="modal-content">
     <button type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
       <span aria-hidden="true">&times;</span>
     </button>
     <form>
       <label for="name">Name</label>
       <input type="text" id="name" ngModel="{{this.authServ.getCurrentUser().name}}" name="name" maxlength="28">
       <label for="email"> Email </label>
       <input type="text" id="email" ngModel="{{this.authServ.getCurrentUser().email}}" name="email">
       <label for="address"> Address </label>
       <input type="text" id="address" ngModel="{{this.authServ.getCurrentUser().adress}}" name="address">
       <label for="contact"> Contact</label>
       <input type="tel" id="contact" ngModel="{{this.authServ.getCurrentUser().contact}}" name="contact">
       <label for="password">Password</label>
       <input type="text" ngModel="{{this.authServ.getCurrentUser().password}}" name="productPassword" id="productPassword"  >
       <div class="postBtn">
         <button disabled type="submit"  class="submit">edit</button>
       </div>
     </form>
    </div>
    </div>
    </div>

    <!--confirm log out-->
<div class="modal fade" id="signout" tabindex="-1" role="dialog" aria-labelledby="signout" aria-hidden="true">
    <div  class="modal-dialog" role="document" >
      <div class="modal-content" >
        <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close" id="out">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>sign out?</h4>
        <div class="postBtn">
          <button class="submit" type="submit" (click)="signOut()">Yes</button>
        </div>
      </div>
      </div>
  </div>