<section class="container">
  <h2>Sign In</h2>
    <p>you don't have an account? <a routerLink="/sign-up-step1" routerLinkActive="active">Sign Up</a></p>
    <form>
      <div>
        <label for="email">Email</label>
        <input type="email" #email="ngModel" ngModel name="email" placeholder="temliz@mail.com" maxlength="28" required>
        <h6 *ngIf="emailCheck==false||(email.invalid&&email.touched)" class="error-message">not a valid email</h6>
    </div>
      <br>
      <div>
        <label for="password">Password</label>
        <input type="text" #password="ngModel" ngModel name="password" placeholder="temliz " maxlength="28" required>
        <h6 class="error-message" *ngIf="passwordCheck==false||(password.invalid&&password.touched)">must be of atleast 5 characters</h6>
    </div>
      <br>
      <div class="postBtn">
      <button class="submit" type="submit" (click)="onSubmit(email.value,password.value)">Sign In</button>
      </div>
    </form>
</section>
